<div class="modal fade" id="nosMudamos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h4 class="modal-title">Nueva Direccion</h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    <span style="font-weight:bold;">Clinica Especialista Dr. Erick Rosekratzs, </span>
                    les informa que se encuentra activo el nuevo centro de investigacion.
                </p>
                <p style="font-weight:300;">
                    Av. Corrientes 456, Almagro.
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Acepto la novedad" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>