@{
    ViewBag.Title = "Sobre Nosotros";
}
<div class="row inicio">
    <div class="col-lg-5 col-md-12 col-sm-12 text-justify">
        <h2>@ViewBag.Title</h2>
        <p>
            <span style="font-weight:bold;">Clinica Dr. Erick Rosenkratz, </span>
            somos una institucion focalizada en la atencion de embarazos de riesgo.
        </p>
        <p>Contamos con la ultima tecnologia en diagnostico y especialistas altamente capacitados para atenderlo.</p>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
        <img src="~/Content/Imagenes/equipo.jpg" style="width:100%; height:100%;" alt="¿Quiénes somos?" />
    </div>
</div>
