@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Clinica de Embarazos de Riesgo<br />
    Boulogne, San Isidro<br />
    <abbr title="Telefono">P:</abbr>
    4512-0025
</address>

<address>
    <strong>Consultas:</strong>   <a href="mailto:Support@example.com">consultas@clinicaembarazos.com</a><br />
    <strong>Especialistas:</strong> <a href="mailto:Marketing@example.com">especialistas@clinicaembarazos.com</a>
</address>