@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Carousel.css" rel="stylesheet" />

<div id="carouselPrincipal" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#carouselPrincipal" data-slide-to="0" class="active"></li>
        <li data-target="#carouselPrincipal" data-slide-to="1"></li>
        <li data-target="#carouselPrincipal" data-slide-to="2"></li>
        <li data-target="#carouselPrincipal" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block" src="~/Content/Imagenes/institucion.jpg" alt="Institucion">
            <div class="carousel-caption d-none d-md-block">
                @Html.Partial("_ButtonCarrousel")
                <h1>Nuestra Institucion</h1>
                <p>Somos una institucion que cuenta con los mas altos estandares para atenderlo en el proceso del embarazo</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block" src="~/Content/Imagenes/historial.jpg" alt="Historial Embarazo">
            <div class="carousel-caption d-none d-md-block">
                @Html.Partial("_ButtonCarrousel")
                <h1>Historial de Embarazo</h1>
                <p>En la institucion acompañamos a la apreja a lo largo de todo el proceso de embarazo mediante un historial actualizado</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block" src="~/Content/Imagenes/pastis.jpg" alt="Farmacia Institucion">
            <div class="carousel-caption d-none d-md-block">
                @Html.Partial("_ButtonCarrousel")
                <h1>Farmacia especializada en institucion</h1>
                <p>Nuestra institucion cuenta con una farmacia especializada para embarazos que cumple con estandares internacionales</p>
            </div>
        </div>
    </div>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/Content/Imagenes/member2.jpg" alt="Dra. Carla" width="140" height="140">
            <h2>Especialista Carla</h2>
            <p>La doctora Carla se especializo en la Universidad de Londres en metodos de salvaguardar embarazos geneticamente complejos.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/Content/Imagenes/member3.jpg" alt="Dr. Hector" width="140" height="140">
            <h2>Especialista Hector</h2>
            <p>El doctor Hector realizo su especiaidad en la rama de atencion prenatal para atender a sus pacientes bajo los más altos estandares medicos internacionales.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/Content/Imagenes/member4.jpg" alt="Dr. Jorge" width="140" height="140">
            <h2>Especialista Jorge</h2>
            <p>El doctor Joge obtuvo su maestria en atencion ginecologica de la Universidad de Columbia con inclinacion en embarazos complejos.</p>

        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Esta instucion cuenta con un centro de<span class="text-muted">investigacion garantizando los ultimos avances para embarazos.</span></h2>
            <p class="lead">Para brindar la mejor atencion a nuestros pacientes, invertimos en tecnicas y especialistas año a año.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/Content/Imagenes/investigacion.jpg" alt="Investigacion">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Queremos estar cerca de nuestros pacientes <span class="text-muted">por eso contamos con multiples maneras de contactarnos.</span></h2>
            <p class="lead">Usted podra contactarse con nuestra institucion a traves de multiples canales.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="~/Content/Imagenes/descarga.jpg" alt="Contactenos">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

@Html.Partial("_NosMudamos")
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // Handler for .ready() called.
            $("#nosMudamos").modal('show');
        });
    </script>
}
