@{
    ViewBag.Title = "Home Page";
}


@section scripts{

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function () {
            // Activate Carousel
            $("#myCarousel").carousel();

            // Enable Carousel Indicators
            $(".item1").click(function () {
                $("#myCarousel").carousel(0);
            });
            $(".item2").click(function () {
                $("#myCarousel").carousel(1);
            });
            $(".item3").click(function () {
                $("#myCarousel").carousel(2);
            });
            $(".item4").click(function () {
                $("#myCarousel").carousel(3);
            });

            // Enable Carousel Controls
            $(".left").click(function () {
                $("#myCarousel").carousel("prev");
            });
            $(".right").click(function () {
                $("#myCarousel").carousel("next");
            });
        });
    </script>
}

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">SU ATENCION POR FAVOR!</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Estimados pacientes, les informamos que a partir del proximo 10 de Octubre los consultorios de Obstetricia y Fertilización comenzarán a atender en las
                        nuevas instalaciones en Cordoba 2457. Paulatinamente, iremos mudando todos los servicios que presta la institución.
                        Disculpen las molestias ocasionadas. Atte., Dirección.
                    </p>
                </div>
                <div class="modal-footer">
                    <button data-toggle="tooltip" data-placement="top" title="HACIENDO CLICK EN EL BOTON DELEGO LA RESPONSABILIDAD DE PERJUICIOS" type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
                </div>
            </div>

        </div>
    </div>

</div>


<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: auto;
        margin: auto;
    }
</style>

<div class="container">
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="item1 active"></li>
            <li class="item2"></li>
            <li class="item3"></li>
            <li class="item4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="https://bestdoctors.com/wp-content/uploads/2016/11/Doctor-with-Tablet.jpg" alt="Dr. Hipolito" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Dr. Hipolito</h3>
                    <p>Dirige la cinica desde sus inicios. Trabajo in Fertilization Society, Estados Unidos.</p>
                </div>
            </div>

            <div class="item">
                <img src="https://www.cheatsheet.com/wp-content/uploads/2017/10/A-doctor-talking-to-a-patient.jpg" alt="Dra. Estefania" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Dra. Estefania</h3>
                    <p>Magister en obstetricia de la universidad de London Medics, Inglaterra.</p>
                </div>
            </div>

            <div class="item">
                <img src="https://yt3.ggpht.com/a-/AN66SAyQTPMBGYp2576Zi5KIi5eZ4Jd3-sUtEHYiRg=s900-mo-c-c0xffffffff-rj-k-no" alt="Dr. Carlos" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Dr. Carlos</h3>
                    <p>Especialista en ginecologia de la Universidad de Buenos Aires con posgrado en la Universitätsmedizin, Alemania .</p>
                </div>
            </div>

            <div class="item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS4kChJLa5EH2HMBfdmlJ9Y4SDTw0UjZSh9M4501CMI71TeXBQ" alt="Dra. Carla" width="460" height="345">
                <div class="carousel-caption">
                    <h3>Dra. Carla</h3>
                    <p>
                        Jefa de supervision en asistencia a embarazos de riesgo,
                        investigadora a cargo de la Recherche avancée en fertilisation pour les cas de grossesse à risque, Francia.
                    </p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nuestras Especializaciones</h2>
        <p>
            Contamos con un plantel altamente calificado capaz de brindar asesoramiento a las pacientes y/o médicos de cabecera en la atención del embarazo de alto riesgo. Ej: diabetes, embarazo múltiple, hipertensión arterial y embarazo, pre eclampsia, retardo de crecimiento fetal intrauterino; enfermedades clínicas o quirúrgicas maternas previas o aparecidas durante el embarazo que pueden complicarlo.
        </p>
        <p><a class="btn btn-default" href="">Aprenda Más &raquo;</a></p>
    </div>
    <div tooltip="Acerquese a nuestra institución para conocer más" class="col-md-4">
        <h2>Historia del Instituto</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p><a class="btn btn-default" href="">Lorem Ipsum &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <h2>Conozca más sobre el futuro de la fertilización asistida</h2>
        <p>La reproducción asistida puede ser llevada a cabo empleando diferentes técnicas y la más adecuada a emplear dependerá de las circunstancias y problemas particulares de cada pareja. Sin embargo la secuencia de técnicas a emplear, de menos a más compleja e invasiva, es la siguiente: coitos programados, inseminación artificial y fecundación in vitro/transferencia de embriones.</p>
        <p><a class="btn btn-default" href="https://www.huesped.org.ar/informacion/derechos-sexuales-y-reproductivos/tus-derechos/fertilidad-asistida/">Sitio &raquo;</a></p>

    </div>
</div>
