<div class="modal" id="verificar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h4 class="modal-title">Su Atención!</h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    <span>Recuerde lo siguiente! Importante! </span>
                </p>
                <p>
                  El formato de hora es HH:MM de igual manera que la fecha es MM/DD/AAAA.
                </p>
                <p>
                   Estamos trabajando para mejorar su servicio, por lo cual le pedimos mil disculpas debido a estás inconcistencias.
                   Muchas gracias.
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Estoy de acuerdo" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>