<div class="modal" id="registrarDatos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-light">
                <h4 class="modal-title">Atención!</h4>
                <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    <span>Si este es su primer ingreso, </span>
                    por favor ingrese al ABM de afiliados y complete sus datos.
                </p>
                <p>
                   Muchas gracias.
                </p>

                <p>
                   PD: LOS DEMAS ABMs QUE USTED UTILICE NO FUERON PENSADOS PARA EL PACIENTE, POR LO QUE AL CERRAR SESION, SE ELIMINAR TODAS LAS MODIFICACIONES QUE HAYA EFECTUADO.
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Estoy de acuerdo" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>